.people-cards {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    border-bottom: 0.1rem solid #e3e3e3;
}


.people-cards-card:hover {
    outline: 5px solid #63c6ae;
    outline-offset: -5px;
}

.people-cards-card:hover .people-cards-avatar img{
    transform: translateY(-50%);
}

.people-cards-card:hover .people-cards-content h2,
.people-cards-card:hover .people-cards-content p {
    color: #63c6ae;
}

.people-card-image {
    width: 100%;
}

.people-cards-avatar {
    margin: -5.5rem auto;
    width: 8.8rem;
    height: 8.8rem;
    overflow: hidden;
    transform: translateY(-20px);
}

.people-cards-content {
    text-align: center;
    padding: 4rem 2.5rem 1rem;
    border-left: 1px solid #dbe1e7;
}

.people-cards-content h2 {
    color: #737c85;
    font-weight: normal;
}

.people-cards-content p {
    /* color: #929da5; */
    color: #424242;
}