.content .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    padding-bottom: 8rem;
}

.content {
    border-top: 0.1rem solid #e3e3e3;
    background: #f8f9f9;
}

.content h3 {
    color: #737c85;
    font-size: 2.1rem;
    padding-top: 4rem;
    font-weight: 400;
}

.content p {
    /* color: #929da5; */
    color: #424242;
    font-size: 1.6rem;
    word-spacing: 0.3rem;
}

.content .container article:first-of-type {
    margin-top: 0.8rem;
}

