.hero {
    height: 80vh;
    padding: 4rem 2rem;
    text-decoration: center;
    background: linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat, url(../imgs/hero-bg-blue.jpg);
    background-size: 40px 40px, 40px 40px, cover;
    background-position: left calc(50% + 20px) bottom, left calc(50% - 20px) bottom, center bottom 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-title {
    background-color: rgba(36, 42, 44, 0.7);
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 400;
    font-style: oblique;
    padding: 2rem 4rem;
    animation: fadeInUp 1s ease-out forwards;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.hero-text {
    background-color: rgba(36, 42, 44, 0.7);
    margin: 0 3rem 3.5rem;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    font-style: oblique;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s;
    text-align: center;
}

.hero-btn {
    border: 0.1rem solid rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 0.5rem;
    padding: 1.5rem 2.5rem;
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.8s;
}

.hero-btn:hover {
    background-color: #81D4FA;
}