.slider {
    background-color: #242a2c;
    padding: 12.5rem 0 10rem;
    width: 100%;
    overflow: hidden;
    color: var(--white-color);
}

.slideshow {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 95rem;
}

.slideshow figure {
    display: inline-block;
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow figure.show {
    opacity: 1;
    position: static;
}

.slideshow .prev, .slideshow .next {
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.slideshow .prev {
    left: 1rem;
}

.slideshow .next {
    right: 17rem;
}